<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- Bootstrap Core CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

        <!-- Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Lato:400,700,900' rel='stylesheet' type='text/css'>

        <!-- Custom Icons -->
        <link rel="stylesheet" href="fonts/font-awesome-4.2.0/css/font-awesome.min.css">
        
        {{{_sections.head}}}

        {{#if showTests}}
            <link href="/vendor/mocha.css" rel="stylesheet">
        {{/if}}

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        
        {{{body}}}
        
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <p>Copyright &copy; Twigest 2015</p>
                    </div>
                </div>
            </div>
        </footer>
        
        <!-- jQuery -->
        <script src="js/jquery-1.11.3.min.js"></script>
        {{{_sections.jquery}}}

        <!-- Bootstrap Core JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        {{{_sections.bootstrap}}}

        {{#if showTests}}
            <div id="mocha"></div>
            <script src="/vendor/mocha.js"></script>
            <script src="/vendor/chai.js"></script>
            <script>
                mocha.ui('tdd');
                var assert = chai.assert;
            </script>
            <script src="/qa/tests-global.js"></script>
            {{#if pageTestScript}}
                <script src="{{pageTestScript}}"></script>
            {{/if}}
            <script>mocha.run();</script>
        {{/if}}
    </body>
</html>