<title>Friend Overview</title>

<h1 class="headline text-center">Select who to track</h1>

<div class="container col-lg-12 text-center">

	{{#each user}}
		<div class="card-container">

			{{#if verified}}
				<div class="icon-verified">
					<span class="fa fa-stack fa-lg">
						<i class="fa fa-certificate fa-stack-2x"></i>
						<i class="fa fa-check fa-stack-1x fa-inverse"></i>
					</span>
				</div>
			{{/if}}

			<header>
				<div class="bio">
					<img class="bg" src="http://hdwallpapersinhd.com/wallpapers/2015/03/Twitter-Logo-black-dark-HD-wallpaper-2015.jpg" alt="background">
					<div class="desc">
						<span class="id hidden">{{id}}</span>
						<h3 class="name">{{name}}</h3>
						<p>{{description}}</p> <!-- FIXME: Description overflow -->
					</div>
				</div>

				<div class="avatar-container">
					<img src="{{profile_image_url_https}}" alt="avatar" class="avatar">
					<div class="hover">
							<div class="fa fa-twitter"></div>
					</div>
				</div>
			</header>

			<div class="content">
				<div class="data">
					<ul>
						<li>
							{{#numFormat}}{{statuses_count}}{{/numFormat}}
							<span>Tweets</span>
						</li>
						<li>
							{{#numFormat}}{{followers_count}}{{/numFormat}}
							<span>Followers</span>
						</li>
						<li>
							{{#numFormat}}{{friends_count}}{{/numFormat}}
							<span>Following</span>
						</li>
					</ul>
				</div>

				<div class="track"> <div class="fa fa-twitter"></div> Track</div>
			</div>
		</div>
	{{/each}}

</div>

{{#section 'jquery'}}
	<!-- Track Button Effect -->
	<script type="text/javascript">
		$(document).ready(
			function followClick() {
				$('.card-container').on("click", function() {
			  		$(this).find('.track').css('background-color', '#34CF7A');
			  		$(this).find('.track').html('<div class="fa fa-check"></div> Tracking');

					var track = $(this).find('.id');
					console.log(track.html());
				});
			}
		);
	</script>

	<script src="/socket.io/socket.io.js"></script>
	<script>
		var socket = io.connect("http://localhost");
		socket.on('test', function (data) {
			console.log(data);
		});
	</script>
{{/section}}
