<title>Friend Overview</title>

<h1 class="headline text-center">Select who to track</h1>

<span class="userhandle hidden">{{userhandle}}</span>

<div class="dropdown">
	<button class="btn btn-default dropdown-toggle" type="button" id="dropdownFilter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
		Filter
		<span class="caret"></span>
	</button>
	<ul class="dropdown-menu" aria-labelledby="dropdownFilter">
		<li><a class="show-all" href="/userhandle">All Friends</a></li>
	    <li><a class="show-verified" href="/show-verified">Verified Friends</a></li>
	    <li><a class="show-tech" href="/show-tech">Tech</a></li>
	    <li><a class="show-sports" href="/show-sports">Sports</a></li>
	</ul>
</div>

<div class="container col-lg-12 text-center">

	<!-- Iterate over all user objects for 1 card view per profile -->
	{{#each user}}
		<div class="card-container">

			{{#if verified}}
				<div class="icon-verified">
					<span class="fa fa-stack fa-lg">
						<i class="fa fa-certificate fa-stack-2x"></i>
						<i class="fa fa-check fa-stack-1x fa-inverse"></i>
					</span>
				</div>
			{{/if}}

			<header>
				<div class="bio">
					<div class="bg"></div>
					<div class="desc">
						<span class="id hidden">{{id}}</span>
						<span class="handle hidden">{{screen_name}}</span>
						<h3 class="name">{{name}}</h3>
						<p class="desc-detail">{{description}}</p> <!-- FIXME: Description overflow -->
					</div>
				</div>

				<div class="avatar-container">
					<img src="{{profile_image_url_https}}" alt="avatar" class="avatar"> <!-- FIXME: Transparent bg on .png imgs -->
					<div class="hover">
							<div class="fa fa-twitter"></div>
					</div>
				</div>
			</header>

			<div class="content">
				<div class="data">
					<ul>
						<li>
							<span class="statuses_count hidden">{{statuses_count}}</span>
							{{#numFormat}}{{statuses_count}}{{/numFormat}}
							<span>Tweets</span>
						</li>
						<li>
							<span class="followers_count hidden">{{followers_count}}</span>
							{{#numFormat}}{{followers_count}}{{/numFormat}}
							<span>Followers</span>
						</li>
						<li>
							<span class="friends_count hidden">{{friends_count}}</span>
							{{#numFormat}}{{friends_count}}{{/numFormat}}
							<span>Following</span>
						</li>
					</ul>
				</div>

				<div class="track"> <div class="fa fa-twitter"></div> Track</div>
			</div>
		</div>
	{{/each}}

</div>

{{#section 'jquery'}}
{{#section 'bootstrap'}}
	<script src="./js/main.js"></script>
{{/section}}
{{/section}}
