<title>Friend Overview</title>

<h1 class="headline text-center">Select who to track</h1>

<span class="userhandle hidden">{{userhandle}}</span>

<div class="dropdown">
	<button class="btn btn-default dropdown-toggle" type="button" id="dropdownFilter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
		Filter
		<span class="caret"></span>
	</button>
	<ul class="dropdown-menu" aria-labelledby="dropdownFilter">
	    <li><a class="filter-verified" href="/filter-verified">Verified Friends</a></li>
	    <li><a href="#">Another action</a></li>
	    <li><a href="#">Something else here</a></li>
	    <li><a href="#">Separated link</a></li>
	</ul>
</div>

<div class="container col-lg-12 text-center">

	{{#each user}}
		<div class="card-container">

			<!-- Check if verified:true and add icon accordingly -->
			{{#if verified}}
				<div class="icon-verified">
					<span class="fa fa-stack fa-lg">
						<i class="fa fa-certificate fa-stack-2x"></i>
						<i class="fa fa-check fa-stack-1x fa-inverse"></i>
					</span>
				</div>
			{{/if}}

			<header>
				<div class="bio">
					<div class="bg"></div>
					<div class="desc">
						<span class="id hidden">{{id}}</span>
						<h3 class="name">{{name}}</h3>
						<p>{{description}}</p> <!-- FIXME: Description overflow -->
					</div>
				</div>

				<div class="avatar-container">
					<img src="{{profile_image_url_https}}" alt="avatar" class="avatar">
					<div class="hover">
							<div class="fa fa-twitter"></div>
					</div>
				</div>
			</header>

			<div class="content">
				<div class="data">
					<ul>
						<li>
							{{#numFormat}}{{statuses_count}}{{/numFormat}}
							<span>Tweets</span>
						</li>
						<li>
							{{#numFormat}}{{followers_count}}{{/numFormat}}
							<span>Followers</span>
						</li>
						<li>
							{{#numFormat}}{{friends_count}}{{/numFormat}}
							<span>Following</span>
						</li>
					</ul>
				</div>

				<div class="track"> <div class="fa fa-twitter"></div> Track</div>
			</div>
		</div>
	{{/each}}

</div>

{{#section 'jquery'}}
	<script src="./js/main.js"></script>
{{/section}}
