{{#section 'head'}}
	<!-- Quicksand Font -->
	<link href='//fonts.googleapis.com/css?family=Quicksand:300,400,700' rel='stylesheet' type='text/css'>
{{/section}}

<title>Tweegest</title>

<div class="headline text-center"><h1>Welcome to Tweegest</h1></div>

<div class="userhandle-container text-center">
	<form action="/userhandle">
		@ <input type="text" name="userhandle" placeholder="Enter your Twitter Username">
	</form>
</div>

<div class="card-container">
	<header>
		<div class="bio">
			<img class="bg" src={{user.background_img}} alt="background">
			<div class="desc">
				<h3>{{user.name}}</h3>
				<p>{{user.description}}</p>
			</div>
		</div>

		<div class="avatar-container">
			<img src={{user.avatar}} alt="avatar" class="avatar">
			<div class="hover">
					<div class="fa fa-twitter"></div>
			</div>
		</div>
	</header>

	<div class="content">
		<div class="data">
			<ul>
				<li>
					{{user.tweets}}
					<span>Tweets</span>
				</li>
				<li>
					{{user.followers}}
					<span>Followers</span>
				</li>
				<li>
					{{user.following}}
					<span>Following</span>
				</li>
			</ul>
		</div>

		<div class="follow"> <div class="fa fa-twitter"></div> Follow</div>
	</div>
</div>

{{#section 'jquery'}}
	<!-- Follow Button Effect -->
	<script type="text/javascript">
		$(document).ready(
			function followClick() {
				$('.follow').on("click", function() {
			  	$('.follow').css('background-color', '#34CF7A');
			  	$('.follow').html('<div class="fa fa-check"></div> Following');
				});
			}
		);
	</script>

	<script src="/socket.io/socket.io.js"></script>
	<script>
		var socket = io.connect("http://localhost");
		socket.on('test', function (data) {
			console.log(data);
		});
	</script>
{{/section}}
